.item {
    display: inline-block;
    margin: 0 2px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.item .thumbnail-filename {
    word-wrap: break-word;
    height: 50px;
    overflow: visible;
}
.check-item > input + .glyphicon:after {
    content: "\e157";
}
.check-item > input:checked + .glyphicon:after {
    content: "\e067";
}
.check-item > input + .glyphicon {
    color: #ccc;
}
.check-item > input:checked + .glyphicon {
    color: #3c763d;
}
.check-item > input {
    display: none;
}


